/* General styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Home Page */
body.home {
    background: linear-gradient(#7ed957, #a6e3a1);
    height: 100vh;
    color: white;
}

.container {
    padding-top: 100px;
}

.btn {
    background: white;
    color: #2e7d32;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

/* Auth Pages */
body.auth {
    background: #eaf7ea;
}

.auth-box {
    background: white;
    width: 300px;
    padding: 25px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.auth-box input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #999;
}

/* Map */
#map {
    width: 90%;
    height: 450px;
    margin: 20px auto;
    border-radius: 10px;
}

/* Info panel */
.info-box {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}
